<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
		https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:raise3d:config">
		<parameter name="ipAddress" type="text" required="true">
			<label>Network Address</label>
			<description>The IP address of the Raise3D printer</description>
			<context>network-address</context>
		</parameter>
		<parameter name="password" type="text" required="true">
			<label>Password</label>
			<description>The password for accessing the Raise3D printer API</description>
			<context>password</context>
		</parameter>
		<parameter name="refreshInterval" type="integer" min="5">
			<label>Refresh Interval</label>
			<description>The refresh interval in seconds for polling the printer status</description>
			<default>30</default>
		</parameter>
	</config-description>

</config-description:config-descriptions>
